<h1>Teste Bootstrap</h1>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>


<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/logo_horacio.png" />
      </div>
      <!-- Fim do card body-->
    </div>
    <!-- Fim do card -->
  </div>
  <!-- Fim do col-->

<!-- Fim do row-->

<div class="col">
  <div class="card2">
    <div class="card-body2">
      <img src="assets/img/crud.png" />
    </div>
    <!-- Fim do card body2-->
  </div>
  <!-- Fim do card-->
</div>
</div>
<!--Fim do col-->

<div class="row">
  <div class="col">
    <div class="card m-5" style="width: 18rem;" >
      <img src="assets/img/eu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sobre mim</h5>
        <p class="card-text">Atualmente cursando DS, gosto de boxe e xadrez e sou apaixonado por fisiculturismo. Segue algumas qualificaçôes</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Basico de Desing</li>
        <li class="list-group-item"> Desenvolvedor FullStack</li>
        <li class="list-group-item"> Obrigado Fatima e Marion por não matar eu e o bruno <3 </li>
      </ul>
      <div class="card-body">
        <a href="https://github.com/Eduardokpn" class="card-link">GitHub</a>
        <a href="https://www.vatican.va/content/vatican/pt.html" class="card-link"> Site do Vaticano </a>
      </div>
    </div>
  </div>



<router-outlet></router-outlet>
